<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <queries>
        <package android:name="com.kakao.talk" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vecto"
        tools:targetApi="31">
        <activity
            android:name=".ui.delete_account.DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notice.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onefeed.OneFeedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.myinfo.MyInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.inquiry.InquiryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.followinfo.FollowInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.myfeed.MyFeedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.likefeed.LikeFeedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.editfeed.EditFeedActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.inquiry.PolicyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.detail.FeedDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.userinfo.UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.comment.CommentActivity"
            android:exported="false"
            android:label="@string/title_activity_comment"
            android:theme="@style/Theme.Vecto"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.guide.activity.GuideActivity"
            android:exported="false" />

        <service
            android:name=".service.LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="${NAVER_KEY}" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="oauth"
                    android:scheme="${KAKAO_KEY}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="kakaolink"
                    android:scheme="${KAKAO_KEY}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>