<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vecto"
        tools:targetApi="31">
        <activity
            android:name=".PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".data.SplashActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".CommentActivity"
            android:exported="false"
            android:label="@string/title_activity_comment"
            android:theme="@style/Theme.Vecto"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".guide.GuideActivity"
            android:exported="false" />
        <activity
            android:name=".editlocation.EditLocationActivity"
            android:exported="false" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="4liop0rwtx" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="oauth"
                    android:scheme="kakao1ad70f21b84b4b2472d7b036d0fc40ce" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>